#about 
    div(class="about-1")
        .about-container    
            p(class="head") ABOUT ME
            div(class = 'about-me') 
                p.about I'm a twenty-two year old programmer currently based in Dallas, but I call Austin, Texas home. I developed a passion for programming in high school, and I have come a long way since. I embrace new opportunities to learn independently, and I am all about a hands-on approach to development. 
                br
                p.about Don't let my portfolio fool you into thinking I'm only about coding! It is my interest in Mathematics that gives rise to my interest in the theoretical aspect of CS. I like to take an analytical approach when solving programming problems. Here's a cool #[a(class='link') example.] When I'm away from the keyboard, I like to stay fit, read anything from non-fiction to high fantasy, and play chess.
            span(class="entypo-right-open-big about-slide right bounce")
