#about 
    div(class="about-1")
        .about-container    
            p(class="head") ABOUT ME
            div(class = 'about-me')
                //- p.title MY STORY 
                p.about I'm a twenty-two year old programmer currently based in Dallas, but I call Austin, Texas home. I developed a passion for programming in high school, and I have come a long way since. I embrace new opportunities to learn independently, and I am all about a hands-on approach to development. 
                br
                p.about Don't let my portfolio fool you into thinking I'm only about coding! It is my interest in Mathematics that gives rise to my interest in the theoretical aspect of CS. I like to take an analytical approach when solving programming problems. Here's a cool #[a(class='link') example.] When I'm away from the keyboard, I like to stay fit, read anything from non-fiction to high fantasy, and play chess.
            span(class="entypo-right-open-big bounce" id="about-slide")
    //- p(class="head msg-3") #[span(class='glyphicon glyphicon-console')] &nbsp;My Interests
    //- div(class="about-2 msg-3")
    //-     div(id="chelsea")
    //-     canvas(id="myChart")
    //- p(class="head msg-4") #[span(class='glyphicon glyphicon-console')] &nbsp;Let's Get Technical
    //- div(class="about-1 msg-4")
    //-     .img-r-2
    //-     .img-l-2
    //-     .about-1-bg
    //-     div(class = 'about-me')
    //-         p.title BACK END
    //-         p.about I aim to develop applications that are scalable, reliable, and mantainable. I like to work with Node and the rich ecosystem of libraries that the NPM offers. I have built apps with the powerful Meteor framework, as well as the classic Express. I am comfortable implementing robust unit tests with Mocha and Chai. To use, or not to use a relational data model? No problem! I feel confident working with either MongoDB or MySQL. 
    //-         p.title FRONT END
    //-         p.about I strive to implement applications that look and feel great across devices. Anytime design is involved, I let my creativity run free to create elegant interfaces that feature a smooth user experience. I usually let Angular do the power lifting, but I am currently having fun learning React. Frameworks are sweet, but sometimes pure JS is the way to go.
    //- div(id="mobile-footer")
    //-     ul(id="mobile-social")
    //-         li 
    //-             a(id='contact-t-2' class="menu-item") CONTACT
    //-         li 
    //-             a(class="entypo-twitter icon" href="https://twitter.com/velascoDev" target="blank")
    //-         li 
    //-             a(class="entypo-github icon" href="https://github.com/velascoDev" target="blank")
    //-         li 
    //-             a(class="entypo-linkedin icon" href="https://www.linkedin.com/in/ejvelasco/" target="blank")
    


