#contact(ng-controller="sendEmail") 
	#email-form
		input(placeholder="Name" ng-model="details.name")
		input(type="email" placeholder="Email" ng-model="details.email")
		textarea(rows="7" placeholder="Message" ng-model="details.msg")
		p#send(ng-click="sendEmailF($scope)") SEND 
		#error Whoops
