#home
    #home-bg
    #msg-container
        p(class='msg msg-1') I AM #[span(class="highlight") EDUARDO] &amp; 
        p(class='msg msg-1') I WILL #[span(class="highlight") SEIZE] THE #[span(class="white") DAY]
        div(id="bio-container" class="msg")
        div(id="bio-overlay" class="msg")
            div(id="prof-pic")
            //- div(id="bio")
              
    #arrow
        span(class="glyphicon glyphicon-menu-down")
    
    

    