#home
    #home-bg
    #loader
    #soup-container
      #segments
      #soup-nav
        span(id="soup-prev" class="glyphicon glyphicon-menu-left")
        span(id="soup-next" class="glyphicon glyphicon-menu-right bounce")
            
    
    

    