#home
    #home-bg
    #msg-container
        p(class='msg msg-1') I AM #[span(class="highlight") EDUARDO] &amp; 
        p(class='msg msg-1') I WILL #[span(class="highlight") SEIZE] THE #[span(class="white") DAY]
        div(id="bio-container" class="msg")
        div(id="bio-overlay" class="msg")
            div(id="prof-pic")
            div(id="bio")
                p(class='mission-title') MY MISSION:  
                ul(class="mission")
                    li
                        img(id="caffeine" src="/img/caffeine.png")
                    li
                        p
                            span(class="glyphicon glyphicon-chevron-right")
                    li
                        p.snippet-1 function fibonacci(num){<br>&nbsp;&nbsp;let a = 1, b = 0, temp;<br>&nbsp;&nbsp;while (num &ge; 0){<br>&nbsp;&nbsp;&nbsp;&nbsp;temp = a;<br>&nbsp;&nbsp;&nbsp;&nbsp;a = a + b;<br>&nbsp;&nbsp;&nbsp;&nbsp;b = temp;<br>&nbsp;&nbsp;&nbsp;&nbsp;num--;<br>&nbsp;&nbsp;}<br>&nbsp;&nbsp;&nbsp;&nbsp;return b;<br>}
    #arrow
        span(class="glyphicon glyphicon-menu-down")
    
    

    