nav(id="new-menu") 
			ul
				li
					a(id="soup-container-t" class="menu-item") HOME
				li 
					a(id='projects-t' class="menu-item") PROJECTS
				li 
					a(id='about-t' class="menu-item") ABOUT
				li 
					a(id='contact-t' class="menu-item") CONTACT
				li 
					a(class="entypo-twitter icon" href="https://twitter.com/velascoDev" target="blank")
				li 
					a(class="entypo-github icon" href="https://github.com/velascoDev" target="blank")
				li 
					a(class="entypo-linkedin icon" href="https://www.linkedin.com/in/ejvelasco/" target="blank")