nav(class="navbar navbar-default" id="new-menu")
	div(class="container")
		div(class="navbar-header")
			button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#new-menu-items" aria-expanded="false" aria-controls="navbar")
				span(class="sr-only") Toggle navigation
				span(class="icon-bar")
				span(class="icon-bar")
				span(class="icon-bar")
		a(class="navbar-brand" id="home-t") 
		div(id="new-menu-items" class="navbar-collapse collapse")
			ul(class="nav navbar-nav")
				li
					a(id='empty')
				li 
					a(id='projects-t' class="menu-item") PROJECTS
				li 
					a(id='about-t' class="menu-item") ABOUT
				li 
					a(id='contact-t' class="menu-item") CONTACT
				li 
					a(class="entypo-twitter icon" href="https://twitter.com/velascoDev" target="blank")
				li 
					a(class="entypo-github icon" href="https://github.com/velascoDev" target="blank")
				li 
					a(class="entypo-linkedin icon" href="https://www.linkedin.com/in/ejvelasco/" target="blank")