div(id='about-container-1')
    div(id='about-1' )
        img(id='profile' src='/img/prof.png')
        //- p.title ABOUT ME 
        p.title A LITTLE ABOUT ME
        p.about-more I'm a twenty-two year old programmer born in Cuernavaca, Mexico. I'm currently based in Dallas, but I call Austin, TX home. When I'm away from the keyboard, I like to stay fit, read anything from non-fiction to high fantasy, and play chess.
div(id='about-container-2')
    div(id='about-2' )        
        p.title BACK END
        p.about I aim to develop applications that are scalable, reliable, and mantainable. I like to work with Node.js and the rich ecosystem of libraries that the NPM offers. I'm currently developing an application that interacts with the IBM Watson - Conversation API. 
        p.title FRONT END
        p.about I strive to implement applications that look and feel great across devices. Anytime design is involved, I let my creativity run free to create elegant interfaces that feature a smooth user experience.
    //- #two
        //- p.snippet #[span(id='code2')]
    
    //- #bar
    //- #bar-about
        //- p#resume FEATURED PROJECT
        //- p#tag-line If you have a good idea, implement it in code and share with people around the world.
    //- #slides
        div(id='btn-one')
        div(id='btn-two')