#menu
	ul(data-role='navbar' id ='navbar')
		//- li(id = 'logo-t' class='item') 
		//- 	img(id='logo-thumbnail' src='/img/logo-2.png')
		li(class='item' id='home-t') 
			a(class='menu-link') HOME
		li(class='item' id='about-t') 
			a(class='menu-link') ABOUT
		li(class='item' id='projects-t') 
			a(class='menu-link') PROJECTS
		li(class='item' id='blog-t')
			a(class='menu-link') BLOG
		li(class='item' id='contact-t')
			a(class='menu-link') CONTACT
	#social-menu
		.brandico-facebook
		.brandico-twitter
		.brandico-github 
		.brandico-linkedin
	#menu-icn
		