extends layout
block head
	title='Eduardo Velasco'
	link(rel='stylesheet', href='/css/main.css', \='')
	link(rel='stylesheet', href='/css/menu.css', \='')
	link(rel='stylesheet', href='/css/home.css', \='')
	link(rel='stylesheet', href='/css/about.css', \='')
	link(rel='stylesheet', href='/css/contact.css', \='')
	link(rel='icon' href='/img/logo-2.png')
block content
	body
		include partials/menu
		include partials-mobile/home-mobile
		include partials/about
		include partials/projects
		include partials/contact
		script(src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js')
		script(src='/ng/emailApp.js')
		script(src='/js/menu.js')
		script(src='/js/about-mobile.js')
