html(lang='en')
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/css/libraries/reset.css', \='')
    link(href="https://fonts.googleapis.com/css?family=Raleway:200" rel="stylesheet")
    link(href="http://weloveiconfonts.com/api/?family=entypo" rel="stylesheet")
    link(rel="icon" href="/img/sigma.png" type="image/png")
    block head
    block content
    
    
