html(lang='en')
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/css/libraries/reset.css', \='')
    link(href="https://fonts.googleapis.com/css?family=Raleway:200" rel="stylesheet")
    link(rel="stylesheet" href="/css/libraries/bootstrap.min.css")
    link(rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css")
    link(rel="icon" href="/img/sigma.png" type="image/png")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
    block head
    script(src="/js/libraries/bootstrap.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js")
    block content
    
    
