extends layout
block head
	title="Eduardo Velasco"
	link(rel="stylesheet", href="/build/portfolio.css", \="")
block content
	body(ng-app="portfolioApp")
		include partials/new-menu
		include partials/home
		include partials/projects
		include partials/about
		include partials/contact
		script(src="/build/portfolio-min.js" type="text/javascript")