@import url("http://weloveiconfonts.com/api/?family=entypo");
.phone{
	display: none;
	height: 30%;
	width: 50%;
	right: 0;
	left: 0;
	margin: 0 auto;
	position: relative;
	margin-top: 20px;
	margin-bottom: 30px;
}
.screen{
	background: url('/img/linkedin.jpeg') no-repeat;
	background-size: contain;
	background-position: center;
}
.msg-1,.msg-2,.msg3, .msg4{
	display: none;
}
.about-2{
	/*display: none;*/
	height: 60%;
	width: 55%;
	right: 0;
	left: 0;
	margin: 0 auto;
	position: relative;
}
.img-l{
	width: 70%;
	height: 80%;
	left: -35%;
	top: 50%;
	transform: translateY(-50%);
	position: absolute;
	background: url('/img/austin.jpg') no-repeat;
	background-size: contain;
}
.img-r{
	width: 70%;
	height: 80%;
	right: -35%;
	top: 50%;
	transform: translateY(-50%);
	position: absolute;
	background: url('/img/dallas.jpg') no-repeat;
	background-size: contain;
	background-position: center;
}
.img-l-2{
	width: 70%;
	height: 80%;
	left: -30%;
	top: 50%;
	transform: translateY(-50%);
	position: absolute;
	background: url('/img/js.png') no-repeat;
	background-size: contain;
}
.img-r-2{
	width: 70%;
	height: 80%;
	right: -30%;
	top: 50%;
	transform: translateY(-50%);
	position: absolute;
	background: url('/img/workspace.jpg') no-repeat;
	background-size: contain;
	background-position: center;
}
canvas{
	position: relative;
	top: 50%;
	display: none;
	transform: translateY(-50%);
}
.about-1{
	/*display: none;*/
	height: 55%;
	width: 50%;
	right: 0;
	left: 0;
	margin: 0 auto;
	position: relative;
	
}	.marvel-device{
		transform: scale(.7);
		-webkit-box-reflect: below 0px
		-webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(85%, transparent) , to(rgba(250, 250, 250, 0.1)));
	}
	.about-1-bg{
		height: 100%;
		width: 100%;
		position: absolute;
		background-color: #EFF5F8;
		box-shadow: 20px 20px 90px rgba(0,0,0, .2);
	}
	.link{
		color: #BABABA;
		cursor: pointer;
		padding: 0 !important;
		margin: 0 !important;
		transition: all .3s ease;
	}
	.link:hover{
		color: #DCDCDC;
		text-decoration: none;
	}
	.glyphicon{
		/*color: #02303E;*/
		opacity: .9;
		margin-right: 15px;
	}
	.about-me{
		position: relative;
		/*display: none;*/
		/*background-color: white;*/
		/*background-color: red;*/
		width: 80%;
		right: 0;
		left: 0;
		margin: 0 auto;
		top: 50%;
		transform: translateY(-51%);
		font-weight: bold;
		font-size: 1.1em;
	}
		.head{
			font-size: 4em;
			color: white;
			/*min-width: 700px;*/
			width: 50%;
			/*background-color: red;*/
			padding-top: 100px;
			padding-bottom: 50px;
			position: relative;
			left: 0;
			right: 0;
			margin: 0 auto;
			/*display: none;*/
		}
			
		.about{
			width: 100%;
			display: block;
			/*background-color: white;*/
			color: #02303E;
			font-size: 1.2em;
			line-height: 38px;
			text-align: justify;
		}
		.title{
			width: 100%;
			margin-top: 20px;
			font-size: 1.4em;
			letter-spacing: 4px;
			display: block;
			font-weight: bolder;
			/*margin-bottom: 10px;*/
			opacity: .5;
			color: #02303E;
			text-align: left;
			min-width: 200px;
		}

	
	
#chelsea{
	width: 100%;
	height: 100%;
	display: none;
	position: absolute;
	background: url('/img/chelsea.png') no-repeat;
	background-position: center;
	background-size: contain;
	opacity: .1;
}