@import url("http://weloveiconfonts.com/api/?family=entypo");
.glyphicon{
	opacity: .9;
	margin-right: 15px;
}
.head{
	font-size: 4em;
	color: white;
	width: 50%;
	padding-top: 100px;
	padding-bottom: 50px;
	position: relative;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.msg-1,.msg-2,.msg3, .msg4{
	display: none;
}
.about-1{
	height: 55%;
	width: 50%;
	min-height: 550px;
	min-width: 800px;
	right: 0;
	left: 0;
	margin: 0 auto;
	position: relative;
	
}
	.img-l{
		width: 70%;
		height: 80%;
		left: -35%;
		top: 50%;
		transform: translateY(-50%);
		position: absolute;
		background: url('/img/austin.jpg') no-repeat;
		background-size: contain;
		background-position: center;
	}
	.img-r{
		width: 70%;
		height: 80%;
		right: -35%;
		top: 50%;
		transform: translateY(-50%);
		position: absolute;
		background: url('/img/dallas.jpg') no-repeat;
		background-size: contain;
		background-position: center;
	}
	.img-l-2{
		width: 70%;
		height: 80%;
		left: -30%;
		top: 50%;
		transform: translateY(-50%);
		position: absolute;
		background: url('/img/js.png') no-repeat;
		background-size: contain;
	}
	.img-r-2{
		width: 70%;
		height: 80%;
		right: -30%;
		top: 50%;
		transform: translateY(-50%);
		position: absolute;
		background: url('/img/workspace.jpg') no-repeat;
		background-size: contain;
		background-position: center;
	}
	.about-1-bg{
		height: 100%;
		width: 100%;
		position: absolute;
		background-color: #EFF5F8;
		box-shadow: 20px 20px 90px rgba(0,0,0, .2);
	}
	.about-me{
		position: relative;
		width: 80%;
		right: 0;
		left: 0;
		margin: 0 auto;
		top: 50%;
		transform: translateY(-51%);
		font-weight: bold;
		font-size: 1.1em;
	}
		.about{
			width: 100%;
			display: block;
			color: #02303E;
			font-size: 1.2em;
			line-height: 38px;
			text-align: justify;
		}
		.title{
			width: 100%;
			margin-top: 20px;
			font-size: 1.4em;
			letter-spacing: 4px;
			display: block;
			font-weight: bolder;
			opacity: .5;
			color: #02303E;
			text-align: left;
			min-width: 200px;
		}
.about-2{
	height: 60%;
	width: 55%;
	right: 0;
	left: 0;
	margin: 0 auto;
	position: relative;
}
	#chelsea{
		width: 100%;
		height: 100%;
		display: none;
		position: absolute;
		background: url('/img/chelsea.png') no-repeat;
		background-position: center;
		background-size: contain;
		opacity: .1;
	}
	canvas{
		position: relative;
		top: 50%;
		display: none;
		transform: translateY(-50%);
		overflow-x: scroll;
	}
#mobile-footer{
	height: 80px;
	margin-top: 50px;
	width: 100%;
	background-color: transparent;
	position: relative;
}
	#mobile-social{
		text-align: center;
	}
	#mobile-social li{
		font-size: 3em;
		letter-spacing: 5px;
		font-weight: bold;
		margin-right: 20px;
		display: inline-block;
	}
	#mobile-social li a{
		text-decoration: none !important;
		color: #02303E !important;
	}
	#contact-t-2{
		padding: 10px;
		border: solid 2px #02303E;
		transition: all .3s ease;
	}
@media only screen and (max-width: 800px){
	#about{
		font-size: .5em;
	}
	.head, .about-1{
		width: 75%;
	}
	.about-1{
		min-height: 100px;
		min-width: 200px;
	}
	.about-2, .msg-3{
		display: none !important;
	}
	.head{
		padding-top: 30px;
		padding-bottom: 0px;
		font-size: 3em;
	}
	.about{
		line-height: 18px;
	}
	.img-l,.img-r{
		width: 120%;
		height: 120%;
	}
	.img-l-2{
		height: 50%;
		left: -35%;
	}
	.img-r-2{
		height: 120%;
		width: 120%;
	}
	.mission-title{
		text-align: left;
	}
	#about{
		
		margin-bottom: 0
	}
	#contact{
		font-size: .5em;
		min-height: 200px;
		line-height: 15px; 
		width: 75%;
	}
}

	

	
	
