.mask{
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: .5;
	z-index: 3;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #02303E;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #02303E;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #02303E;
}
:-moz-placeholder { /* Firefox 18- */
  color: #02303E;
}
#contact-bg{
	position: absolute;
	height: 100%;
	width: 100%;
	box-shadow: 20px 20px 90px rgba(0,0,0, .2);
}
#email-form{
	position: fixed;
	margin-top: 45px;
	margin-bottom: 30px;
	height: 50%;
	width: 100%;
}
	#message{
		display: block;
		width: 95%;
		margin-right: auto;
		margin-left: auto;
		text-align: center;
		color: #02303E;
		font-weight: bolder;
		font-size: 2em;
	}
	input, textarea{
		background: transparent;
		display: block;
		margin-left: auto;
		margin-right: auto;
		border-color: #02303E;
		width: 80%;
		margin-top: 15px;
		font-family: 'Helvetica';
		font-weight: light;	
		cursor: text;
		font-size: 1.5em;
		padding: 12px;
		color: #02303E;
		outline: none;
	}
	input{
		border-right: none;
		border-left: none;
		border-top: none;
		border-width: 1px;
	}
	#send{
		cursor: pointer;
		letter-spacing: 4px;
		font-size: .9em;
		font-weight: bolder;
		display: block;
		width: 5%;
		text-align: center;
		padding: 15px;
		border-style: solid;
		border-color: #02303E;
		border-width: 2px;
		margin-top: 30px;
		margin-left: auto;
		margin-right: auto;
		color: #02303E;
		transition: all .7s ease;
		min-width: 200px;
	}
	#send:hover{
		background-color: #BFCBCE;
		color: black;
	}
	#error{
		opacity: 0;
		position: relative;
		width: 50%;
		padding: 15px;
		margin-top: -200px;
		text-align: center;
		border-style: solid;
		border-left: none;
		border-right: none;
		border-color: #6D5C37;
		border-width: 1px;
		color: #463623;
		display: block;
		margin-left: auto;
		margin-right: auto;
		font-weight: bolder;
	}


