@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
	40% {
    transform: translateY(-30px);
  }
	60% {
    transform: translateY(-15px);
  }
}

#arrow{
	display: none;
}
	.glyphicon-menu-down{
		position: absolute;
		color: #02303E !important;
		font-size: 3em;
		top: 90%;
		right: 0;
		left: 0;
		margin: 0 auto;
		text-align: center;
		opacity: .9 !important;
		animation-name: bounce;
		animation-duration: 2s;
		animation-iteration-count: infinite;
	}
#home-bg{
	background: url('/img/office.jpg');
	background-size: cover;
	background-position: center;
	position: absolute;
	z-index: -1;
	height: 100%;
	width: 100%;
	right: 0;
	left: 0;
	margin: 0 auto;
	display: none;
	filter: saturate(.3) hue-rotate(150deg);
}
#msg-container{
	position: relative;
	top: 150px;
}
	.msg{
		display: none;
	}
	.msg-1{
		text-align: center;
		color: grey;
		font-size: 4em;
		margin-bottom: -20px;
		letter-spacing: 4px;
	}
		.highlight{
			color: #054052;
			font-size: 1.1em;
		}
#bio-container{
	background-color: white;
	opacity: .5;
	width: 50%;
	min-width: 100% !important;
	min-height: 100%;
	position: absolute;
	right: 0;
	left: 0;
	margin: 0 auto;
	margin-top: 80px;
	box-shadow: 20px 20px 90px rgba(0,0,0, 1);
}
#bio-overlay{
	background-color: transparent;
	width: 50%;
	min-width: 100% !important;
	min-height: 100%;
	position: absolute;
	right: 0;
	left: 0;
	margin: 0 auto;
	margin-top: 80px;
}
	#prof-pic{
		position: absolute;
		/*width: 300px;*/
		min-height: 100%;
		background: url('/img/prof.png');
		background-size: cover;
	}
	#bio{
		margin-left: 300px;
		padding: 30px;
		font-size: 1.5em;
		letter-spacing: 4px;
		font-weight: bold;
	}
		.mission{
			min-width: 600px !important;
			text-align: center;
		}
			.mission li{
				margin-top: 10px;
				margin-right: 25px;
				display: inline-block;
			}
				#caffeine{
					height: 130px;
					width: 150px;
					/*float: left;*/
					transform: translateY(-55%);
				}
				.glyphicon-chevron-right{
					position: absolute;
					top: 50%;
					text-align: center;
					font-size: 1.2em;
					color: #02303E !important;
				}
				.snippet-1{
					font-weight: normal;
					font-family: 'Courier';
					transform: translateY(-10%);
					font-size: .7em;
					text-align: left;
					margin-left: 35px;
					letter-spacing: 0px;
					filter: brightness(.7) hue-rotate(180deg);
				}

@media only screen and (max-device-width: 760px) { 
  #msg-container{
  	font-size: .4em !important;
  	top: 100px;
 	text-align: center;
  }
  .msg-1{
  	margin-bottom: -5px;
  	letter-spacing: 3px;
  }
  #bio-container,#bio-overlay{
  	width: 90%;
  	height: 120px;
  	min-width: 250px !important;
  }
  #prof-pic{
  	width: 120px;
  	height: 120px;
  }
  #bio{
  	margin-left: 120px;
  	padding: 10px;
  	letter-spacing: 2px;
  }
  .mission{
  	margin-top: 0px;
  	min-width: 150px !important;
  }
  .mission li{
  	margin-right: 10px;
  }
  .snippet-1{
  	font-size: .6em;
  	margin-left: 5px;
  }
  #caffeine{
  	height: 40px;
  	width: 40px;

  }
}







 
