body { margin: 0; }
#time{
	position: absolute;
	top: 60%;
	width: 10%;
	text-align: center;
	transform: translateY(-50%);
	right: 0;
	left: 0;
	margin: 0 auto;
	font-size: 3.5em;
	font-weight: lighter;
	color: white;
	opacity: .9;
	font-family: 'Helvetica';
	display: none;
}
#msg{
	text-align: center;
	position: relative;
	color: white;
	top: 15%;
	font-size: 3.5em;
	font-weight: bolder;
	display: none;
}
#home-bg{
	background: url('/img/bg-3.jpg');
	background-size: contain;
	position: absolute;
	height: 100%;
	width: 100%;
	background-size: cover;
	display: none;
	filter: brightness(.6) saturate(.5) hue-rotate(180deg);
	/*background-repeat: no-repeat;*/
}
#content-wrapper{
	opacity: .6;
	position: absolute;
	right: 0;
	left: 0;
	margin: 0 auto;
	top: 60%;
	transform: translateY(-50%);
	display: none;
}
.circle-hrs, .circle-mins, .circle-secs{
	opacity: .4;
}
.loader{
	position: absolute;
	right: 0;
	left: 0;
	height: 150px;
	width: 150px;
	margin:0 auto;
	top: 50%;
	transform: translateY(-50%);
	z-index: 9999;
	background: url('/img/logo-2.png') no-repeat;
	background-size: contain;
	/*transform: scale(.7);*/
}
canvas { width: 700px; height: 700px; background-color: transparent !important; color: black; position: absolute; right: 0; left: 0; margin: 0 auto; top: 60%; transform: translateY(-50%); display: none;}