body{
	font-family: 'Raleway', sans-serif;	
}
#home, #about,#contact{
	position: relative;
	display: block;
	/*width: 100%;*/
	/*height: 100%;*/
	font-family: 'Raleway', sans-serif;	
	/*overflow: hidden;*/
}
#projects{
	position: relative;
	display: block;
	width: 100%;
	height: 60%;
	font-family: 'Raleway', sans-serif;	
}
#home{	
	width: 100%;
	height: 100%; 
}
#projects{
	/*width: 500%;*/
	/*background-color: #202529;*/
	/*overflow-x: scroll;*/
	/*overflow-y: hidden; */
}
#contact{
	background-color: #ADADAD;
}
#about{
	margin-bottom: 50px;
}