body{
	font-family: 'Raleway', sans-serif;	
}
#home, #about-container-1, #about-container-2, #projects-container, #contact-container{
	font-size: 1.5em;
	/*height: 90vh;*/
	/*position: fixed;*/
}
#home{
	/*height: 450px;*/
	background-color: white;
	color: white;
	background-position: right center;
	font-weight: bolder;
	text-align: center;
	background-size: cover;
	overflow: hidden;
	background: url('/img/gradient-3.jpg');
	/*filter: hue-rotate(240deg);*/
}
	#logo{
		position: absolute;
		top: 200px;
		right: 0;
		left: 0;
		height: 180px;
		width: 180px;
		display: block;
		margin: 0 auto;
		background: url('/img/logo.png');
		background-size: contain;
		background-repeat: no-repeat;
	}
	#bar{
		position: relative;
		width: 100%;
		height: 100px;
		border-style: solid;
		border-color: #acc5d3;
		border-width: 2px;
		border-left: none;
		border-right: none;
		background-color: white;
		border-bottom: none;
	}
		#circle{
			display: block;
			position: relative;
			top: -25%;
			height: 50px;
			width: 50px;
			background: url('/img/down-arrow.png');
			background-size: cover;
			border-radius: 50px;
			margin: 0 auto;
		}
	#home p{
		position: absolute;
		right: 0;
		left: 0;
		margin: 0 auto;
		font-size: .4em;
		letter-spacing: 4px;
		overflow: hidden;
	}
#about-container-2{
	background-color: #4d5e78;
	/*position: absolute;*/
	overflow: hidden;
	font-size: 1.5em;
}
#about-1, #about-2{
	position: relative;
	width: 80%;
	margin: 0 auto;
	font-size: .7em;
	line-height: 175%;
	/*text-align: justify;*/
}
#about-2{
	margin-top: 7%;
}
#about-2 .about{
	color: white;
}
.title{
	font-weight: bold;
	letter-spacing: 4px;
}
#about-1{
}
#projects-container{
}
#contact-container{
	text-align: center;
	background-color: #4fabf1;
	color: white;
	overflow: hidden;
}
	input, textarea{
		display: block;
		margin: 0 auto;
		outline: none;
		border-top: none;
		border-left: none;
		border-right: none;
		border-color: white;
		border-width: 1px;
		padding: 2%;
		background-color: transparent;
		margin-top: 4%;
		width: 80%;
		margin-bottom: 4%;
		font-family: Helvetica;
		font-size: .8em;
		color: white;
		border-radius: 0px;
	}
	textarea{
		border-style: solid;
		-webkit-appearance: none;
	}

#profile{
	display: block;
	margin: 0 auto;
	margin-bottom: 15%;
	width: 40%;
	border-radius: 10px;
	-webkit-box-reflect: below 0px
	-webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(75%, transparent) , to(rgba(250, 250, 250, 0.4)));
}
#email-form{
	margin-top: 10%;
}
#message1, #message2{
	font-size: .9em;
	text-align: center;
	margin: 0 auto;
	width: 80%;
	font-weight: bold;
	margin-bottom: 1%;
}
#message2{
	font-size: .7em;
}
#error{
	border-style: solid;
	border-left: none;
	display: none;
	border-right: none;
	border-width: 1px;
	padding: 5px;
	font-size: .7em;
	color: #edf3d7;
	margin: 0 auto;
	border-color: #fbfaca;
	margin-top: 5%;
	width: 80%;
}
#send{
	border-style: solid;
	border-color: white;
	padding: 12px;
	margin-top: 2%;
	border-width: 2px;
	font-size: .6em;
	margin: 0 auto;
	width: 75%;
	letter-spacing: 4px;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
#send:active{
	background-color: white;
	color: grey;
}
/*STYLE PLACEHOLDER*/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
:-moz-placeholder { /* Firefox 18- */
  color: white;
}
