/*IMPORT ICON FONTS*/
@import url('http://weloveiconfonts.com/api/?family=brandico');
body{
	/*background-color: #FAFAFA;*/
}
#navbar .ui-btn {
	padding: 117px;
	font-size: 3.5em;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 5px;
	text-shadow:0 0 0 !important; 
 }
 #navbar .ui-btn-active {
	background-color: #BCC8D0;
	border-color: #7E8D97;
 }
 #navbar{
 	display: none;
 	position: fixed;
 	left: 0;
 	width: 100%;
 	height: 100%;
 	top: 12%;
 	background-color: white;
 	/*transform: translateY(-50%);*/
 }
 #social-menu{
 	/*display: none;*/
 	position: fixed;
 	right: 0;
 	left: 0;
 	/*display: block;*/
 	display: none;
 	margin: 0 auto;
 	width: 100%;
 	height: 12%;
 	border-style: solid;
 	border-top: none;
 	border-right: none;
 	border-left: none;
 	border-width: 10px;
 	border-color: #BDBDBD;
 	background-color: white;
   /* -webkit-box-shadow: 1px 10px 25px rgba(100, 100, 100, 0.5);
 	-moz-box-shadow:    1px 10px 25px rgba(100, 100, 100, 0.5);
 	box-shadow:         1px 10px 25px rgba(100, 100, 100, 0.5);
 	z-index: 9999;*/
 }
 #social-menu div{
 	  /*display: none;*/
 	  font-family: 'brandico', sans-serif;
 	  margin-top: 3%;
 	  display: inline-block;
 	  width: 150px;
 	  height: 150px;
 	  margin-left: 20px;
 	  line-height: 140px;
 	  font-size: 80px;
 	  text-align: center;
 	  color: black;
 	  border-radius: 20px;
 	  background-color: #eee;
 	  overflow: hidden;
 	  cursor: pointer;
 	  transition: all .6s ease;
 	}
 	#menu-icn{
		background-image: url('/img/menu-icn.png');
		height: 130px;
		width: 130px;
		position: fixed;
		top: 3%;
		opacity: .4;
		background-size: contain;
		background-repeat: no-repeat;
		right: 5%;
		z-index: 9999;
		transition: all .3s ease;
	}
	.underline {
		border-style: solid;
		border-top: none;
		border-right: none;
		border-left: none;
		border-width: 10px;
		border-color: black;
	}