#new-menu{
	position: fixed;
	width: 100%;
	background-color: transparent;
	z-index: 3;
	border: none;
	border-radius: 0px;
	padding: 30px;
	cursor: pointer;
	transition: padding .4s ease, color .4s ease, background .4s ease;
	/*display: none;*/

}
#new-menu .container{
	margin-left: 30px;
}
#new-menu a{
	font-family: 'Raleway', sans-serif;	
	margin-right: 20px;
	letter-spacing: 5px;
	color: white;
	font-weight: bolder;
	font-size: .9em;
	transition: all .4s ease;
}
#new-menu a:hover, .navbar-brand{
	color: #BABABA !important;
}
#logo-thumbnail{
	margin-right: 20px;
	height: 70px;
	width: 95px;
}
.navbar-brand{
	/*font-family: 'Allura', cursive !important;*/
	font-size: 2em !important;
	font-weight: lighter !important;
	/*letter-spacing: 1px !important;*/
	border-right: solid 1px #BABABA;
	color: white !important;
}
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 800px) { 
  #new-menu{
  }
  .navbar-nav{
  	width: 100%;
  	text-align: center;
  }
  .navbar-toggle{
  	left: 30;
  	border: none;
  	transform: scaleX(1.2);
  	background-color: transparent !important;
  	position: absolute !important;
  }
  .navbar-brand{
  	width: 100%;
  	border: none;
  	text-align: center;
  	font-size: 1em !important;
  }
}