@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-30px);
  }
  60% {
    transform: translateX(-15px);
  }
}

.glyphicon-menu-right, .glyphicon-menu-left{
  cursor: pointer;
  color: white !important;
  padding: 40px;
  opacity: .5;
  font-size: .4em;
}
.bounce{
  animation-name: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
#soup-nav {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  bottom: 275px;
  z-index: 9002;
  font-size: 72px;
}

.soup-title {
  font-size: 60px;
  letter-spacing: 15px;
  padding-bottom: 20px;
  font-weight: bolder;
  text-align: center;
}
.soup-desc {
  font-size: 20px;
  letter-spacing: 5px;
  font-weight: bolder;
  text-align: left;
}

html, body {
  background-color: transparent;
  font-family: 'Raleway', sans-serif;
}

#soup-container {
  width: 100%;
  height: 100%;
  min-width: 320px;
  min-height: 480px;
  position: relative;
  color: white !important;
}

.letters-wrap {
  position: absolute;
  overflow: hidden;
  display: inline-block;
}
.letters-wrap.mutable {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.letters-wrap.mutable .letter {
  position: absolute;
  left: 0;
  top: 0;
  transition: left 2s, top 2s, color 2s;
  color: "#AAA";
}
.letters-wrap.mutable .letter.active {
  color: "#111";
  z-index: 9001;
}
.letters-wrap.position-data {
  top: 50%;
  left: 50%;
  /*opacity: 0.1;*/
  visibility: hidden;
  transform: translate(-50%, -50%);
}

.segment {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.letter {
  /*display: inline-block;*/
}

button {
  z-index: 9001;
  position: relative;
}
