@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    right: 0;
  }
  40% {
    right: -30px;
  }
  60% {
    right: -15px;
  }
}

.entypo-left-open-big, .entypo-right-open-big{
  cursor: pointer;
  color: white !important;
  padding: 50px;
  opacity: .5;
  position: relative;
  font-size: .8em;
}
.bounce{
  animation-name: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
#soup-nav {
  position: absolute;
  left: 0px;
  right: 0;
  margin: 0 auto;
  text-align: center;
  bottom: 20%;
  z-index: 9002;
  font-size: 72px;
}

.soup-title {
  font-size: 60px;
  letter-spacing: 15px;
  padding-bottom: 5px;
  font-weight: bolder;
  text-align: center;
}
.soup-desc {
  font-size: 22px;
  letter-spacing: 5px;
  font-weight: bolder;
  text-align: center;
  white-space: pre;
}

html, body {
  background-color: transparent;
  font-family: 'Raleway', sans-serif;
}

#soup-container {
  width: 100%;
  height: 100%;
  min-height: 480px;
  position: relative;
  color: white !important;
}

.letters-wrap {
  position: absolute;
  overflow: hidden;
  display: inline-block;
}
.letters-wrap.mutable {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.letters-wrap.mutable .letter {
  position: absolute;
  left: 0;
  top: 0;
  transition: left 2s, top 2s, color 2s;
  color: "#AAA";
}
.letters-wrap.mutable .letter.active {
  color: "#111";
  z-index: 9001;
}
.letters-wrap.position-data {
  top: 50%;
  left: 50%;
  /*opacity: 0.1;*/
  visibility: hidden;
  transform: translate(-50%, -50%);
}

.segment {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.letter {
  /*display: inline-block;*/
}

button {
  z-index: 9001;
  position: relative;
}

@media only screen and (max-height: 670px){
    #soup-nav{
      bottom: 5%;
    }
}
@media only screen and (max-width: 510px) and (max-height: 1340px){
    #soup-nav{
      bottom: 5%;
    }
    .soup-title{
      font-size: 1em !important;
      letter-spacing: 7px;
    }
    .soup-desc{
      font-size: .8em !important;
      letter-spacing: 0px;
    }
    ul li{
      display: block;
      margin-bottom: 5px;
    }
    #new-menu{
      padding-top: 30px;
      padding-left: 30px;
    }
    #new-menu a{
      z-index: 0;
    }
}