
div{
  box-sizing:border-box;
}



.horizontal-scroll-wrapper{
  position:absolute;
  width:100%;
  margin: 0 auto;
  height:600px;
  top: 50%;
  transform: translateY(-50%);
  overflow-y: hidden;
  overflow-x: hidden;
  /*display: none;*/
  transition: all 1s ease;
 
}
.images{
    display: none;
    margin-right:-999em;
    white-space:nowrap;
    list-style:none;
    position: relative;
}
.project-img{
    height: 600px;
    width: 1000px;
    position: relative;
    filter: brightness(.5);
    -moz-transform: translateZ(0);
    -webkit-transform: translateZ(0);
}
.horizontal-scroll-wrapper li{
    float: left;
    display: inline;
    position: relative;
}
.bar-item:hover{
    transform: scale(.95);
    font-size: 18px;
    border: none;
}
#click-bar{
    display: none;
    position: absolute;
    bottom: 100px;
    right: 0;
    left: 0;
    text-align: center;
    overflow: hidden;

}
.project-info{
    height: 140px;
    position: absolute;
    width: 250px;
    border: none;
    opacity: .6;
    display: none;
    background-color: black;
}
.project-info-title{
    font-size: 18px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    right: 0;
    left: 0;
    font-weight: bold;
    color: white;
}
.bar-item{
    display: inline-block;
    width: 250px;
    height: 140px;
    cursor: pointer;
    transition: all .2s ease-out;
}
#showcase{
    display: none;
    position: absolute;
    top: 20%;
    /*background-color: white;*/
    color: white;
    width: 30%;
    left: 0;
    right: 0;
    margin: 0 auto;
}
#showcase-title{
    text-transform: uppercase;
    font-size: 2.2em;
    letter-spacing: 4px;
    font-weight: bold;
}
#showcase-subtitle{
    font-weight: bold;
    font-size: 1.2em;  
    margin-top: -10px;
}
#showcase-desc{
    margin-top: 40px;
    font-family: Helvetica;
}
@media only screen and (max-width: 700px){
    
}

@media only screen and (max-width: 500px){
    
}