
.horizontal-scroll-wrapper{
  position:absolute;
  width:100%;
  margin: 0 auto;
  height: 61%;
  overflow-y: hidden;
  overflow-x: hidden;
  top: 8%;
  transition: all 1s ease;
 
}
    .horizontal-scroll-wrapper li{
        float: left;
        display: inline;
        position: relative;
        left: 250px;
    }
    .images{
        display: none;
        margin-right:-999em;
        white-space:nowrap;
        list-style:none;
        position: relative;
    }
        .project-img{
            height: 100%;
            width: 500px;
            min-width: 500px;
            position: relative;
            opacity: .3;
            transition:  filter.9s ease, opacity .9s ease;
            -moz-transform: translateZ(0);
            transform: translateZ(0);
            -webkit-transform: translateZ(0);
            cursor: pointer;
        }
        .bright{
            filter: brightness(.5);
            opacity: .9;
        }
    #showcase{
        /*display: none;*/
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: justify;
        white-space: pre-wrap;
        color: white;
        width: 400;
        left: 300px;
    }
        #showcase-title{
            text-transform: uppercase;
            font-size: 2em;
            letter-spacing: 4px;
            font-weight: bold;
            text-decoration: none;
            color: white;
            transition: all .3s ease;
        }
        #showcase-title:hover{
            color: #A4AEB1;
        }
        #showcase-subtitle{
            font-weight: bold;
            font-size: 1em; 
        }
        #showcase-desc{
            margin-top: 15px;
            line-height: 22px;
            font-size: .9em;
            font-family: Helvetica;
        }
            .link{
                color: #BABABA;
                cursor: pointer;
                padding: 0 !important;
                margin: 0 !important;
                text-decoration: none;
                transition: all .3s ease;
            }
            .link:hover{
                color: #DCDCDC;
            }
            .link:visited{
                color: #BABABA;
            }
#click-bar{
    display: none;
    position: absolute;
    top: 68.9%;
    right: 0;
    left: 0;
    text-align: center;
}
    .bar-item{
        display: inline-block;
        width: 250px;
        height: 140px;
        cursor: pointer;
        transition: all .2s ease-out;
        box-shadow: 20px 20px 90px rgba(0,0,0, .2);
    }
    .bar-item:hover{
        transform: scaleX(.95) scaleY(.90);
        font-size: 20px;
        border: none;
    }
        .project-info{
            height: 140px;
            position: absolute;
            width: 250px;
            border: none;
            opacity: .6;
            display: none;
            background-color: black;
        }
        .project-info-title{
            font-size: 22px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
            right: 0;
            left: 0;
            font-weight: bold;
            color: white;
        }

@media only screen and (max-width: 1515px){
    .bar-item, .project-info{
        height: 105px !important;
        width: 187px !important;
    }
}
@media only screen and (max-width: 1130px){
    .bar-item, .project-info{
        height: 70px !important;
        width: 125px !important;
        font-size: .8em;
    }
}
@media only screen and (max-width: 767px){
    .bar-item, .project-info{
        height: 50px !important;
        width: 90px !important;
    }
    .project-img{
        left: 60px;
    }
    .project-info-title{
        display: none !important;
    }
    #showcase{
        left: 90px;
        width: 220px !important;
        font-size: 8px;  
    }
    #showcase-subtitle{
        margin-top: -5px;
    }
}
@media only screen and (max-width: 560px){
    .bar-item, .project-info{
        height: 35px !important;
        width: 63px !important;
        font-size: .8em;
    }
    .project-img{
        /*left: 60px;*/
        width: 400px;
        min-width: 400px;
    }
    #showcase{
        width: 300px;
        text-align: left;
    }
    #showcase-desc{
        line-height: 15px;
    }
}

@media only screen and (max-width: 413px){
    .bar-item, .project-info{
        height: 28px !important;
        width: 50px !important;
        font-size: .8em;
    }
    .project-img{
        /*left: 60px;*/
        width: 400px;
        min-width: 400px;
    }
    #showcase{
        width: 300px;
        text-align: left;
    }
    #showcase-desc{
        line-height: 15px;
    }
}
@media only screen and (max-height: 830px) and (min-width: 1200px){
    #showcase{
        font-size: .8em;
        line-height: 0px;
    }
    #showcase-subtitle{
        margin-top: 10px;
    }
}
@media only screen and (max-height: 680px) and (min-width: 1200px){
    #showcase{
        font-size: .6em;
    }
    #showcase-subtitle{
        margin-top: 10px;
    }
}