#about
    
    p(class="head msg-2") #[span(class='glyphicon glyphicon-console')] &nbsp;A Little About Me 
    div(class="about-1 msg-2")
        .about-1-bg    
        div(class = 'about-me')
            p.title MY STORY 
            p.about I'm a twenty-two year old programmer that grew up in Cuernavaca, Mexico. I'm currently based in Dallas, but I call Austin, Texas home. I developed a passion for programming in high school, and I have come a long way since. I embrace opportunities to learn independently, and I am all about a hands-on approach to development. 
            br
            p.about Don't let my portfolio fool you into thinking I'm only about coding! It is my interest in Mathematics that gives rise to my interest in the theoretical aspect of CS, and I do not rule out the possibility of a mathematical career in the future. I like to take an analytical approach when solving programming problems. Here's a cool #[a(class='link') example.] When I'm away from the keyboard, I like to stay fit, read anything from non-fiction to high fantasy, and play chess.
    div(class="phone msg-4")
        div(class="marvel-device iphone6 black landscape")
            div(class="top-bar")
            div(class="sleep")
            div(class="volume")
            div(class="camera")
            div(class="sensor")
            div(class="speaker")
            div(class="screen")
            div(class="home")
            div(class="bottom-bar")
    p(class="head msg-3") #[span(class='glyphicon glyphicon-console')] &nbsp;Let's Get Technical
    div(class="about-1 msg-3")
        .about-1-bg
        div(class = 'about-me')
            p.title BACK END
            p.about I aim to develop applications that are scalable, reliable, and mantainable. I like to work with Node and the rich ecosystem of libraries that the NPM offers. I have built apps with the powerful Meteor framework, but I prefer classic Express. To use, or not to use a relational data model? No problem! I am comfortable with MongoDB and MySQL. 
            p.title FRONT END
            p.about I strive to implement applications that look and feel great across devices. Anytime design is involved, I let my creativity run free to create elegant interfaces that feature a smooth user experience. I usually let Angular and jQuery do the power lifting, but I have a feeling I'll be trying out React and Vue in the very near future. Frameworks are sweet, but sometimes pure JS is the way to go.
    p(class="head msg-3") #[span(class='glyphicon glyphicon-console')] &nbsp;My Interests
    div(class="about-1 msg-3")
        .about-1-bg
        div(class = 'about-me')
            p.title COOL STUFF
            p.about I aim to develop applications that are scalable, reliable, and mantainable. I like to work with Node and the rich ecosystem of libraries that the NPM offers. I have built apps with the powerful Meteor framework, but I prefer classic Express. To use, or not to use a relational data model? No problem! I am comfortable with MongoDB and MySQL. 
        //- p.prof-p #[img(id='profile' src='/img/prof.png')]
