#home
	#home-bg
	#msg-container
		p(class='msg msg-1') I AM #[span(class="white") EDUARDO] AND I WILL #[span(id='code') ]
		//- div(class="button msg") MY PROJECTS
	#content-wrapper
	canvas(id="canvas" width="800" height="800")
	p(id='time')

	