nav(class="navbar navbar-default" id="new-menu")
    div(class="container")
        div(class="navbar-header")
            button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#new-menu-items" aria-expanded="false" aria-controls="navbar")
                span(class="sr-only") Toggle navigation
                span(class="icon-bar")
                span(class="icon-bar")
                span(class="icon-bar")
        a(class="navbar-brand" id="home-t") 
        a(class="navbar-brand" id="mobile-brand") Eduardo Velasco
        div(id="new-menu-items" class="navbar-collapse collapse")
            ul(class="nav navbar-nav")
                li
                    a(id='empty')
                li 
                    a(id='projects-t') PROJECTS
                li 
                    a(id='about-t') ABOUT
                li 
                    a(id='contact-t') CONTACT
                li
                    a(id='tutorials-t') TUTORIALS