#projects(ng-controller="projectsGallery")
	//- #projects-bg
	div(class="horizontal-scroll-wrapper squares")
		//- p(class="msg-4") SOME OF MY #[span(class="white") BEST PROJECTS] &amp; #[span(class="white") PROFESSIONAL EPERIENCE]
		ul(class="images")
			li(ng-repeat="project in projects")
				div(class="project-img" id="project-img-{{$index}}")
		#showcase
			div(id="showcase-title") Hummingbird
			div(id="showcase-subtitle") Reinventing the Classroom Environment
			div(id="showcase-desc")
	#click-bar
		div(class="bar-item" ng-repeat="project in projects")
			div(class="project-item" id = "owned-{{$index}}")
				div(class="project-info")
					div(class="project-info-title") {{project.title}}
				